.login-page{
    background-color: #1D8A99;
    height:100%;
}
.login-form{
    background-color: #B5C9C3;
    border:2px solid blanchedalmond;
    margin-top:30%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding:30px;
}


.login-button{
    margin-top: 10px;
    background-color: #0BC9CD;
    border-radius: 5px;
    border: blanchedalmond 0.2px solid;
}


